body {
	background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);
	font-family: "open-sans";
}

#green-button {
	background-color: #17BF59;
	width:25vw;
	height:25vw;
	float:left;
	margin:1%;	
  border-radius: 300px 0 0 0;
}
#red-button {
	background-color: #9F1218;
	width:25vw;
	float:right;
	height:25vw;
	margin:1%;
	border-radius: 0 300px 0 0;
}
#yellow-button {
	background-color: #ffff00;
	width:25vw;
	height:25vw;
	float:left;
	margin:1%;
	border-radius: 0 0 0 300px;
	margin-top:120px;
}
#blue-button {
	background-color: #2E60BF;
	width:25vw;
	height:25vw;
	float:right;
	margin:1%;
	border-radius: 0 0 300px 0;
	margin-top:120px;
}

#simon-button {
	background-color: #8E2FFF;
	width:30vw;
	height:30vw;
	margin:1%;
	border-radius:100%;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size: 200%;
	position:fixed;
	top:50%;
	left:50%;
	margin-top: -5vw;
	margin-left: -4.5vw;
}

#top-div {
	vertical-align: top;
	left:50%;
	overflow:overlay;
}

#under-div {
	vertical-align: bottom;
}

.top-butts {

}

.tap-pad {
	background-color: white; 
	position: relative;
}